:root {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 16px;
    --bg-azul-1: #85CDF5;
    --bg-azul-2: #2C5680;
    --bg-cinza-escuro: #333333;
    --tx-cinza-escuro: #333333;
    --tx-amarelo: #DEB959;
}