/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: inherit;
  background: transparent;
  text-decoration: none;
  border: none;
  list-style: none;
}

/* ===== ROOT ===== */
:root {
  /* ===== ROOT - COLORS ===== */
  --white: #fff;
  --black: #000;
  --blue-1: #85cdf5;
  --blue-2: #2c5680;
  --gray-0: #e6e6e6;
  --gray-1: #333;
  --gray-2: #353535;
  --yellow: #deb959;
  --green: #7aac3a;
  --red: #de5959;

  /* ===== ROOT - TYPOGRAPHY ===== */
  font-family: "Darker Grotesque", sans-serif;
  font-size: 16px;
}

/* ==== USEFUL ===== */
.container {
  width: 100%;
  max-width: 62rem; /* 960px + 16px(padding-left) + 16px(padding-right) */
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.center {
  justify-content: center;
  align-items: center;
}
.txt-center {
  text-align: center;
}
.column {
  flex-direction: column;
}
.rounded {
  border-radius: 50%;
}
.btn,
.btn-2 {
  background-color: var(--yellow);
  color: var(--gray-2);
  font-size: 1.5rem; /* 24px */
  line-height: 1.6; /* 38.4px */
  height: 3rem; /* 48px */
  max-width: fit-content;
  display: block;
  font-weight: 600;
  border: 1px solid var(--yellow);
  padding: 0 1rem; /* 0 16px */
  transition: 0.2s;
}
.btn:hover {
  background-color: transparent;
  color: var(--yellow);
}
.btn-2 {
  color: var(--white);
  font-size: 2rem; /* 32px */
  line-height: 1.2; /* 38.4px */
}
.btn-2:hover {
  background-color: transparent;
  color: var(--yellow);
}

/* ===== GLOBAL ===== */
body {
  color: var(--white);
  min-height: 100vh;
  justify-content: space-between;
}

/* ===== HEADER ===== */
.header,
.header nav.container,
.header nav ul {
  height: 9.625rem; /* 154px */
  background-color: var(--blue-1);
}
.header nav ul {
  grid-template-columns: 1fr 1fr 1fr;
}
.header nav ul li a {
  font-size: 2rem; /* 32px */
  color: var(--gray-1);
  display: block;
}
.header nav ul li:nth-child(1) {
  text-align: right;
}
.header nav ul li a#logo {
  margin: 0 1rem; /* 0 16px */
}
.header nav ul li a#logo img {
  max-width: 100%;
}

/* ##################### */
/* ===== HOME PAGE ===== */
/* ##################### */

/* ===== MAIN ===== */
/* ===== MAIN - ADOPT */
.adopt {
  height: 31.25rem; /* 500px */
  background-image: url(../assets/wolf-banner.png);
  background-position: center;
  background-size: cover;
}
.adopt .container {
  height: 100%;
}
.adopt .container h1 {
  font-size: 6rem; /* 96px */
  margin-bottom: 3.125rem; /* 50px */
}
.adopt .container p {
  font-size: 2rem; /* 32px */
  max-width: 41.875rem; /* 670px */
}

/* ===== MAIN - ADOPT - RESPONSIVE */
@media screen and (max-width: 375px) {
  .adopt .container h1 {
    font-size: 4.5rem; /* 72px */
    margin-bottom: 3.125rem; /* 50px */
  }
  .adopt .container p {
    font-size: 1.5rem; /* 24px */
  }
}

/* ===== MAIN - ABOUT ===== */
.about {
  background-color: var(--blue-2);
}
.about .container {
  height: 100%;
  gap: 2rem; /* 32px */
  padding: 3rem 1rem; /* 48px 16px */
}
.about .container h2 {
  font-size: 3rem; /* 48px */
  color: var(--yellow);
}
.about .container p {
  font-size: 1.5rem; /* 24px */
}

/* ===== MAIN - VALUES =====*/
.values {
  background-color: var(--gray-1);
}
.values .container {
  padding: 3rem 1rem; /* 48px 16px */
  gap: 2rem; /* 32px */
}
.values .container .grid {
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 4fr)); /* 200px */
  gap: 4rem 1rem; /* 64px 16px */
}
.values .container h2 {
  font-size: 3rem; /* 48px */
  color: var(--yellow);
}
.value-item {
  align-items: center;
  gap: 1rem; /* 16px */
}
.value-item div {
  width: 7.5rem; /* 120px */
}
.value-item div img {
  background-color: var(--white);
  width: 100%;
}
.value-item h3 {
  font-size: 2rem; /* 32px */
}
.value-item p {
  font-size: 1.5rem; /* 24px */
}

/* ===== MAIN - WOLVES ===== */
.wolves {
  padding: 3rem 1rem; /* 48px 16px */
  color: var(--black);
}
.wolves .container {
  gap: 2rem; /* 32px */
}
.wolves .container h2 {
  font-size: 3rem; /* 48px */
  color: var(--yellow);
}
.a-wolf {
  gap: 2rem; /* 32px */
  padding: 2rem; /* 32px */
}
.a-wolf .wolf-txt {
  gap: 1rem; /* 16px */
}
.a-wolf .wolf-txt div h3,
.a-wolf .wolf-txt div h3 span {
  font-size: 2rem; /* 32px */
}
.a-wolf .wolf-txt div:nth-child(2) p {
  font-size: 1.5rem; /* 24px */
}
.a-wolf .wolf-img {
  width: 51.77%; /* .wolf-img <= 430px - padding - gap = 398px */
}
.a-wolf .wolf-img img {
  width: 100%;
}
.a-wolf .wolf-txt {
  max-width: calc(100% - 51.77%);
}

/* ==== MAIN - WOLVES - LEFT */
.a-wolf:nth-child(odd) .wolf-img img {
  box-shadow: -2rem -2rem var(--blue-2); /* -32px -32px */
}

/* ==== MAIN - WOLVES - RIGHT */
.a-wolf:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
.a-wolf:nth-child(even) .wolf-img img {
  box-shadow: 2rem -2rem var(--blue-2); /* 32px -32px */
}

/* ===== MAIN - WOLVES - RESPONSIVE */
@media screen and (max-width: 700px) {
  .wolves {
    padding: 3rem 0; /* 48px 0 */
  }
  .a-wolf.flex {
    gap: 2rem; /* 32px */
    padding: 1rem; /* 16px */
  }
  .wolves .container > div {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* 32px */
  }
  .a-wolf.flex {
    flex-direction: column;
  }
  .a-wolf .wolf-img,
  .a-wolf .wolf-txt {
    max-width: 100%;
    width: 100%;
  }

  /* ==== MAIN - WOLVES - LEFT */
  .a-wolf:nth-child(odd) .wolf-img img {
    box-shadow: -1rem -1rem var(--blue-2); /* -16px -16px */
  }

  /* ==== MAIN - WOLVES - RIGHT */
  .a-wolf:nth-child(even) .wolf-img img {
    box-shadow: 1rem -1rem var(--blue-2); /* 16px -16px */
  }
}

/* =====FOOTER ===== */
.footer {
  background-color: var(--gray-1);
  padding: 3rem 1rem 0; /* 48px 16px 0 */
}
.footer .container {
  gap: 2rem; /* 32px */
}
.footer .container .grid {
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  align-items: center;
}
.footer .container .grid > .flex {
  gap: 2rem; /* 32px */
}
.footer .footer-contact ul {
  height: 100%;
  justify-content: space-between;
}
.footer .footer-contact ul li {
  gap: 0.5rem; /* 8px */
  align-items: center;
}

/* ===== FOOTER - RESPONSIVE ===== */
@media screen and (max-width: 700px) {
  .footer .container {
    gap: 2rem; /* 32px */
  }
  .footer .container .grid {
    grid-template-columns: 1fr;
    row-gap: 2rem; /* 32px */
  }
}
@media screen and (max-width: 500px) {
  .footer .container .grid div.flex {
    flex-direction: column;
  }
  .footer .container .grid div.flex div:first-child {
    text-align: center;
  }
  .footer .container .footer-contact {
    height: 12.5rem; /* 200px */
  }
  .footer .container .footer-contact ul li {
    text-align: center;
    justify-content: center;
  }
}

/* ===== FOOTER - CREDITS ===== */
.footer .footer-credits {
  height: 2rem; /* 32px */
}
.footer .footer-credits a {
  text-decoration: underline;
  transition: 0.2s;
}
.footer .footer-credits a:hover {
  color: var(--yellow);
}
/* ===== FOOTER - CREDITS - RESPONSIVE ===== */
@media screen and (max-width: 500px) {
  .footer .footer-credits p,
  .footer .footer-credits span,
  .footer .footer-credits a {
    font-size: 0.92rem; /* 14.72px */
  }
}

/* ########################### */
/* ===== OUR WOLVES PAGE ===== */
/* ########################### */
.our-wolves {
  color: var(--black);
}
.our-wolves.container {
  padding: 3rem 1rem; /* 48px 16px */
}
.our-wolves__find-add-wolf {
  gap: 1rem; /* 16px */
  margin-bottom: 2rem; /* 32px */
}
.our-wolves__find-add-wolf input {
  border: 1px solid var(--black);
  height: 3rem; /* 48px */
  width: 100%;
  max-width: 51.875rem; /* 830px */
  font-size: 2rem; /* 32px */
  padding: 0.25rem; /* 4px */
}
.our-wolves__find-add-wolf .btn-2 {
  min-width: 7.125rem; /* 114px */
}
.a-wolf .wolf-txt > div {
  justify-content: space-between;
}
.our-wolves__pagination {
  gap: 1rem; /* 16px */
}

/* ########################### */
/* ===== WHO WE ARE PAGE ===== */
/* ########################### */
.who-we-are {
  color: var(--black);
  gap: 1rem; /* 16px */
  text-align: center;
  padding: 2rem 1rem; /* 32px 16px */
}
.who-we-are h2 {
  font-size: 3rem; /* 48px */
}
.who-we-are p {
  max-width: 40rem; /* 640px */
  font-size: 1.5rem; /* 24px */
}
