/* Corpo da página */
body {
    width: 1400px;
    margin: 0 auto;
    color: #ffffff;
}

/* Cabeçalho da Página */
header {
    height: 130px;
    padding-top: 12.64px;
    background-color: var(--bg-azul-1);
    box-sizing: border-box;
}

nav {
    width: 960px;
    margin: 0 auto;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    color: var(--tx-cinza-escuro);
}

/* Seção Adote um Lobinho */
section#adote-lobinho {
    background-image: url(../assets/image.png);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}

section#adote-lobinho h1 {
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 50px;
}

section#adote-lobinho p {
    font-size: 30px;
    line-height: 25px;
}

/* Seção Sobre */
section#sobre {
    background-color: var(--bg-azul-2);
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

section#sobre h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--tx-amarelo);
    margin-bottom: 20px;
}

section#sobre p {
    font-size: 24px;
    font-weight: 400;
    line-height: 32.54px;
}